@media (max-width:900px){
 header #navbar{
         width:100%;
         display: flex;
         justify-content:space-between;
         align-items: center;
  }
    #navbar button{
      display: none;
       }
    #bar{
        font-size: 3rem;
        display: block;
        margin-right: 4rem;
        }
       #logo{
        width: 15%;
        height: 2rem;
        margin-left:2rem;
    }
        #ul{
        display:none;
       }
       #ultwo{
         display:flex;
         width: 75%;
         flex-direction: column;
         height: 22rem;
         background-color: white;
         font-size: 2rem;
         justify-content:space-evenly;
         align-items: center;
         margin: 5rem 2rem 0rem 6.5rem;
         border-radius: .5rem;
         z-index: 1;
         position: fixed;
         display: none;
        transition: all linear 1s;
}
#ultwo a{
  display: block;
  }
#overlay{
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.877);
  top:4.2rem;
  position: fixed;
  z-index: 1;
  display: none;
  }
  #container{
    width:100%;
    height:auto;
    display: flex;
    flex-direction:column-reverse;
    box-shadow: rgba(0, 0, 0, 0.041) 0px 5px 15px 0px;
}
#container #left-box{
  width:100%;
  height:30rem;
  display: flex;
  justify-content: center;
}
#container #right-imagebox{
  width:100%;
  height:30rem;
background-image: url(./images/bg-intro-mobile.svg);
background-position:center bottom 2rem;
 }
  #container  #right-imagebox::after{
    content: " ";
    width:100%;
    height:30rem;
    position: absolute;
    background-image:url(./images/image-mockups.png);
    background-size:85%;
    background-repeat: no-repeat;
    background-position:  bottom .1rem left 4rem;
   }
   #container #left-box{
    width:100%;
    height:18rem;
    }
   #textbox{
    margin-top:2rem;
    margin-left: 5rem;
     }
     #textbox h1{
      line-height: 2.5rem;
      font-size: 2.8rem;
      letter-spacing: .1rem;
    }
    #textbox p{
      margin-top: 1.5rem;
      line-height: 1.5rem;
      font-size: 1.1rem;
  }
  #textbox button{
    width: 10rem;
    height: 3rem;
   border-radius: 3rem;
   font-weight:400;
   font-size: 1.2rem;
    opacity: 0.75;
    margin-top: 1.5rem;
    margin-left: 5rem;
}
/* feature box responsive start */
.f_box2{
  width: 100%;
  height: auto;
 padding-left: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
margin: 1rem;
  margin-top: 3rem;
}
.box{
  width: 50%;
  height:auto;
 padding: 1rem;
  }
  .box h3{
    font-size: 1.4rem;
  }
  .box p{
    font-size: 1.2rem;
  }
  .f_box1 h2{
    line-height:3rem;
    }
.f_box1 p{
line-height: 1.8rem;
margin-top: .8rem;
}
.article_content{
  padding:2rem 4rem 0rem 4rem;
  display: grid;
  gap:.9rem;
  grid-template-columns: repeat(2,1fr);
}
/* Footer Responsive  */
    .fo_box button{
        width: 7rem;
        height: 2rem;
       border-radius: 1rem;
       cursor:pointer;
       margin-left: 1rem;
        outline: none;
        border: 2px solid transparent;
        background-image: linear-gradient(to right, #31d35c,#2bb7da);
        color:white;
        font-weight:400;
        opacity: 0.75;
       }
}
@media (max-width:500px){
   #logo{
        width: 20%;
        height: 2rem;
        margin-left: 1rem;
}
#ultwo{
width: 85%;
  height: 22rem;
 margin: 5rem 2rem 0rem 1.9rem;
}
#container  #right-imagebox::after{
 background-image:url(./images/image-mockups.png);
  background-size:100%;
  background-position:  bottom 3rem left 2rem;
 }
 #textbox{
  margin-top:0rem;
  margin-left: 5rem;
   }
   #textbox h1{
    line-height: 2.5rem;
    font-size: 2.1rem;
    letter-spacing: 0rem;
  }
  #textbox p{
    margin-top: 1rem;
    line-height: 1.5rem;
    font-size: .8rem;
}
#textbox button{
  width: 10rem;
  height: 3rem;
 border-radius: 3rem;
 font-weight:400;
 font-size: 1.1rem;
  opacity: 0.75;
  margin-top: 1rem;
  margin-left: 2rem;
}
.box{
  width: 100%;
  height:auto;
  text-align: center;
  margin-right: 2rem;
}
.f_box1{
  width: 100%;
  height: auto;
  padding-left:1rem;
  margin: 1rem;
}
.article_content{
  padding:3rem 4rem 0rem 4rem;
 display: grid;
  gap:.9rem;
  grid-template-columns: repeat(1,1fr);
}
.Articles h2{
  margin-top: 3rem;
  margin-left: 6rem;
   font-size: 2rem;
   color: rgba(0, 0, 0, 0.678);
 }
 /* Fotter Responsive Start */
  /* .footer-box{
        width: 100%;
        height:auto;
        background-color: #2D314E;
        display: flex;
        flex-direction:column;
       justify-content: space-evenly;
    margin-top: 3rem;
    padding:3rem 0rem 0rem 1rem;
    }
    .fo_box{
       width: 100%;
      height:auto;
     text-align: center;
       background-color: #2D314E;
       }
       .fo-box2{
         margin-top: 1.5rem;
       }
       .fo_box h5{
        margin: .8rem;
      color: rgb(199, 186, 186);
         }
.fo_box3{
  margin-top: 1.5rem;
}
.fo-box4{
  margin-top: 1.5rem;
}
.fo-box4 h5{
  margin-top: 2rem;
} */

}
@media (max-width:600px){
  .footer-box{
        width: 100%;
        height:auto;
        background-color: #2D314E;
        display: flex;
        flex-direction:column;
       justify-content: space-evenly;
    margin-top: 3rem;
    padding:3rem 0rem 0rem 1rem;
    }
    .fo_box{
       width: 100%;
      height:auto;
     text-align: center;
       background-color: #2D314E;
       }
       .fo-box2{
         margin-top: 1.5rem;
       }
       .fo_box h5{
        margin: .8rem;
      color: rgb(199, 186, 186);
         }
.fo_box3{
  margin-top: 1.5rem;
}
.fo-box4{
  margin-top: 1.5rem;
}
.fo-box4 h5{
  margin-top: 2rem;
} 
}
