*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Public Sans', sans-serif;
    }
header #navbar{
    width:100%;
    height:4.3rem ;
    background-color: #FFFFFF;
    display: flex;
    position: fixed;
    justify-content: space-around;
    align-items: center;
    z-index: 1;
    transition: all linear 0.5s;
    box-shadow: rgba(0, 0, 0, 0.041) 0px 5px 15px 0px;
  }
    #logo{
        width: 10%;
        height: 1.2rem;
 }
#ul{
    display: flex;
    width: 35%;
    height: 50%;
    justify-content: space-evenly;
    }
ul li{
  list-style-type: none;
    font-size: 1.1rem;
}
a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.377);
}
#navbar button{
    width: 7rem;
    height: 2rem;
   border-radius: 1rem;
   cursor:pointer;
    outline: none;
    border: 2px solid transparent;
    background-image: linear-gradient(to right, #31d35c,#2bb7da);
    color:white;
    font-weight:400;
    opacity: 0.75;
}
#bar{
    font-size: 3rem;
    display: none;
    }
#ultwo{
    display: none;
}
#ultwo a{
display: none;
}
#ovelay{
    display: none;
}
#container{
    width:100%;
    height: 100%;
    background-color:#FAFAFA;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    overflow-x: hidden;
    box-shadow: rgba(0, 0, 0, 0.041) 0px 5px 15px 0px;
}
    #container #left-box{
        width:50%;
        height:30rem;
        display: flex;
        justify-content: center;
   }
   #textbox{
            margin-top:10rem;
             }
            #textbox h1{
                line-height: 2rem;
                font-size: 2.2rem;
                color:#2C314A;
            }
            #textbox p{
                margin-top: 1.5rem;
                line-height: 1.5rem;
            }
            #textbox button{
                width: 7rem;
                height: 2rem;
               border-radius: 1rem;
               cursor:pointer;
                outline: none;
                border: 2px solid transparent;
                background-image: linear-gradient(to right, #31d35c,#2bb7da);
                color:white;
                font-weight:400;
                opacity: 0.75;
                margin-top: 1.5rem;
            }
            #container #right-imagebox{
                width:50%;
                height:30rem;
              background-image: url(./images/bg-intro-desktop.svg);
              background-size: 100% 100%;
              background-repeat: no-repeat;
              background-position:center bottom 7rem;
              position: relative;
                }
               #container  #right-imagebox::after{
                    content: " ";
                    width:100%;
                    height:30rem;
                    position: absolute;
                    background-image:url(./images/image-mockups.png);
                    background-size:75%;
                    background-repeat: no-repeat;
                    background-position:  bottom .1rem left 12rem;
                   }
                   /* Features starttt */
                .features{
                    width:100%;
                    height:auto;
                    background-color:#F4F5F7;
                    overflow-x: hidden;
                    }
                   .f_box1{
                       width: 100%;
                       height: auto;
                       padding-left:2rem;
                       margin: 1rem;
                    }
                    h2{
                        color:rgba(14, 12, 12, 0.493);
                    }
                    .f_box1 p{
                    line-height: 1.2rem;
                    margin-top: .8rem;
                    color: #C3C4C8;
                    font-size: 1.1rem;
                    }

.f_box2{
    width: 100%;
    height: auto;
   padding-left: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 1rem;
    margin-top: 3rem;
 }
.box{
width: 25%;
height:auto;
padding: 1rem;
}
.box h3{
    margin-top: 2rem;
    color:#828491;
}
.box p{
    margin-top: 2rem;
    color: rgb(148, 143, 143);
    font-size: .9rem;
}
.f_box1 p{
    line-height: 1.1rem;
    margin-top: .8rem;
    color: #C3C4C8;
    margin-right: .5rem;
    }
    .Articles{
        width: 100%;
        height:auto;
        background-color: #FAFAFA;
        overflow-x: hidden;
}
.Articles h2{
   margin-top: 3rem;
   margin-left: 5rem;
    font-size: 2rem;
    color: rgba(0, 0, 0, 0.678);
  }
  .Articles h6{
      opacity: 0;
  }
.img{
    width: 100%;
    height: 10rem;
    background-image: url("./images/image-currency.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-top-left-radius:.5rem;
    border-top-right-radius: .5rem;
}
.img1{
    background-image: url("./images/image-restaurant.jpg");
}
.img2{
    background-image: url("./images/image-plane.jpg");
}
.img3{
    background-image: url('./images/image-confetti.jpg');
}
.article_content{
    padding:3rem 4rem 0rem 4rem;
    display: grid;

    gap:.9rem;
    grid-template-columns: repeat(4,1fr);
}
.inside_content{
    background-color: #FFFFFF;
    cursor: pointer;
    border-radius: .8rem;
 transition: all linear .5s;
 z-index: 0;
 box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
.inside_content:hover{
    transform: translateY(-5px);
}
.content_text{
padding: .8rem 0rem 0rem .8rem;
}
.content_text span{
    font-size: .9rem;
    color:rgba(0, 0, 0, 0.397);
}
.content_text h5{
    margin-top: .8rem;
    line-height: 1.2rem;
    font-size: 1.1rem;
    color: rgba(0, 0, 0, 0.747);
    font-weight: 600;
    cursor: pointer;
}
.content_text h5:hover{
    color: #19a0a0;
    transition: all linear .3s;
}
.content_text p{
    margin-top: .8rem;
    line-height: 1.5rem;
    color:rgba(0, 0, 0, 0.397);
    margin-bottom: .8rem;
}
.footer{
    width: 100%;
    height: auto;
  background-color: #FAFAFA;
overflow-x: hidden;
z-index: 0;
}
    .footer-box{
        width: 100%;
        height: 10rem;
        background-color: #2D314E;
        display: flex;
        flex-direction:row;
       justify-content: space-evenly;
    margin-top: 3rem;
    padding:3rem 0rem 0rem 2rem;
       }
   .fo_box{
       width: 25%;
       height:auto;
       background-color: #2D314E;
       }
     .fo_box h5{
margin: .4rem;
color: rgb(199, 186, 186);
       }
       .fo_box h5:hover{
           color:#398077;
           cursor: pointer;
       }
       .fo_box button{
        width: 8rem;
        height: 2rem;
       border-radius: 1rem;
       cursor:pointer;
       margin-left: 2rem;
        outline: none;
        border: 2px solid transparent;
        background-image: linear-gradient(to right, #31d35c,#2bb7da);
        color:white;
        font-weight:400;
        opacity: 0.75;
       }
       .fo-box4 h5{
    margin-top: 1.5rem;
    color: rgba(0, 0, 0, 0.445);
       }
.fo_box1 #logo{
width: 1.1rem;
    height: 1.1rem;
   letter-spacing: 1.5rem;
   margin-top: 1.8rem;
   margin-left: .3rem;
}
.fo_box1 #logo:hover{
    filter: invert(0.36) sepia(0.5) saturate(7.9) hue-rotate(0deg) brightness(1);
}